* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color:#2F4F4F;
  color: white;
  text-align: center;
  padding: 10px, 20px, 10px, 20px;
  
}

.label {
  font-size: 15;
}

.value {
  margin-bottom: 10px;
  font-size: 40;
}
